@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('AvantGardeITCbyBT-BookOblique.woff2') format('woff2'),
        url('AvantGardeITCbyBT-BookOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('AvantGardeITCbyBT-DemiOblique.woff2') format('woff2'),
        url('AvantGardeITCbyBT-DemiOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('AvantGardeITCbyBT-Demi.woff2') format('woff2'),
        url('AvantGardeITCbyBT-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('AvantGardeITCbyBT-Book.woff2') format('woff2'),
        url('AvantGardeITCbyBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('AvantGardeITCbyBT-Book.woff2') format('woff2'),
        url('AvantGardeITCbyBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

