.contador-container {
    background-color: bisque;
    width: 5%;
    .contador {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin: 5px;
        }
    }
    .carrito {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}