.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 5%;
    .boton-sumar {
    }
    p {
        margin: 5px;
    }
    .boton.restar {
    }
}